html[data-theme="light"] {
    --pst-color-primary: black;
    --pst-color-secondary: #a51c30;
}

.nav.bd-links…current {
    color: var(--pst-color-secondary);
}

html[data-theme="dark"] {
    --pst-color-primary: white;
    --pst-color-secondary: #a51c30;
}

.nav.bd-links…current {
    color: var(--pst-color-secondary);
}

.custom-button {
    background-color: var(--pst-color-secondary);
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Center the text (if any) */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
}

.custom-button:hover {
    background-color: var(--pst-color-primary);
}

.custom-button a {
    color: inherit; /* Inherit text color from button */
    text-decoration: none; /* Remove underline from links */
}

.custom-button a:hover {
    color: white;
    text-decoration: none; /* Ensure no underline on hover */
}

.toggle-faq {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin:5px;
}

/* html[data-theme="light"] {
    --pst-sidebar-color-background: #a51c30; /* Replace with your desired color
} */

/* Ensure this rule targets the specific element of the sidebar */
/* .bd-sidebar-primary {
    background-color: var(--pst-sidebar-color-background);
    --pst-color-text-base: white;
} */

/* .bd-header-article {
    background-color: var(--pst-sidebar-color-background);
    --pst-color-text-base: white;
} */
